*.DS_Store
*.ipynb
authorizations/aws-credentials.json
authorizations/ig-credentials.json
*.pyc
temp/*.mpg*
temp/clips/*.mp4*
temp/*.jpg
temp/*.png
temp/*.mp4
temp/*.gif
authorizations/twitter-credentials.json
authorizations/gmail-credentials.json
chromedriver
log*.json
