<html>
	<head>
		<title>Brissonstagram</title>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="{{ url_for('static',filename='scripts/images.js')}}"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11458370-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-11458370-2');
		</script>
	</head>
	<body>
		<div id="title">
			<br>
			<h1>Brissonstagram</h1>
			<br>
		</div>
		<div id="viz">
		</div>
	</body>
	<script type="text/javascript">
		data = {{ data_string|tojson }}
		show_images(data)
	</script>
</html>